<div id="profile-background">
    <img class="profile-cover" [src]="myPortfolio.bannerImage" alt="Card image cap">
  </div>
  <div id="info" style="padding:16px">
        <div class="img-about mb-3" id="profile-pfpEdit">
          <img [src]="myPortfolio.profilePicture" title="Walter Liendo" id="profile-pfp">
          <i class="fa-solid fa-pen-to-square" data-bs-toggle="modal" data-bs-target="#editProfile"></i>
          </div>
        <div id="info-data">
          <div>
            <h1>{{myPortfolio.name}}</h1>
            <div id="info-company">{{myPortfolio.ocupation}}</div>
            <div id="info-contact">
              <span>{{myPortfolio.ubication}}</span>
              <a routerLink="/footer" aria-current="page">Informacion de contacto</a>
            </div>
          </div>
          <ul id="info-details">
            <li>
              <a href={{myPortfolio.url}} target="_blank" rel="noopener" style="text-decoration:none;">
                <img [src]="myPortfolio.institutionImage" alt="" class="logo-image">               
                 <h5>{{myPortfolio.institution}}</h5>
              </a>
            </li>
          </ul>
        </div>
        <div id="info-action">
          <a href="#" class="btn btn-primary">Intereses: </a>
          <a href="#" class="btn btn-light" id="dropdownMenuAction" data-bs-toggle="dropdown" aria-expanded="false">Añadir
            sección: </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuAction">
            <li><a class="dropdown-item" href="#">Añadir <strong>Cursos</strong></a></li>
            <li><a class="dropdown-item" href="#">Añadir <strong>Pasantías</strong></a></li>
          </ul>
          <a href="#" class="btn btn-light" id="dropdownMenuAction" data-bs-toggle="dropdown" aria-expanded="false">Más:
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuAction">
            <li><a class="dropdown-item" href="#">Compartir perfil</a></li>
            <li><a class="dropdown-item" href="../../../assets/pdf/cv.txt">Descargar en PDF</a></li>
          </ul>
        </div>
      </div>
