<section class="mat-card card project mx-auto" id="projects">
    <div class="title-button">
      <h3 class="content-title">Proyectos</h3>
      <i class="fa-solid fa-plus" data-bs-toggle="modal" data-bs-target="#addproject"></i>
    </div>
    <div class="content">
      <li *ngFor="let projects of projectList">
        <mat-card class="example-card">
          <div style="padding: 5px;" class="title-button">
            <h5 class="card-title">{{projects.name}}</h5>
            <div class="d-block">
              <span style="padding-right: 5px;"><i class="fa-solid fa-edit" data-bs-toggle="modal"
                  data-bs-target="#editproject"></i></span>
              <span style="padding-right: 5px;"><i class="fa-solid fa-trash" data-bs-toggle="modal"
                  data-bs-target="#eliminar"></i></span>
            </div>
          </div>
          <img mat-card-image [src]="projects.projectImage" alt="Project Image" id="imgproj">
          <mat-card-actions>
            <p>{{projects.description}}
            <a href="{{projects.linkSourceCode}}"><button mat-button>Source Code</button></a></p>
          </mat-card-actions>
        </mat-card>
      </li>
    </div>
  </section>
  