  <div class="redes2" id="redes2">
    <a href="https://www.instagram.com/walterliendook/" target="_blank" rel="noopener">
      <img src="../../../assets/img/insta.png" title="Instagram"></a>
    <a href="https://www.facebook.com/walterliendook/" target="_blank" rel="noopener">
      <img src="../../../assets/img/face.png" title="Facebook"></a>
    <a href="https://www.linkedin.com/in/walter-liendo-7204b854" target="_blank" rel="noopener">
      <img src="../../../assets/img/linkedin.png" title="Linkedin"></a>
    <a href="https://github.com/Walter185" target="_blank" rel="noopener">
      <img src="../../../assets/img/github.png" title="Github"></a>
    <a href="https://twitter.com/walterliendook" target="_blank" rel="noopener">
      <img src="../../../assets/img/Twitter.png" title="Twitter"></a>
    <br>
      <p>Visite mis redes sociales o envieme un mail a <b>walter.liendo@gmail.com</b> </p>
    <p>Design by Walter Liendo - Copyright © 2022</p>
    <br>
  </div>